services:
  # -------------------- Prometheus --------------------
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus:/etc/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
    networks:
      - monitoring

  # -------------------- Grafana --------------------
  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
      - loki
    volumes:
      - grafana-storage:/var/lib/grafana
    networks:
      - monitoring

 # -------------------- Node-Exporter --------------------
  node_exporter:
    image: prom/node-exporter:latest
    container_name: node-exporter
    ports:
      - "9100:9100"
    networks:
      - monitoring
    restart: always


  # -------------------- Loki --------------------
  loki:
    image: grafana/loki:2.9.0
    container_name: loki
    ports:
      - "3100:3100"
    command: -config.file=/etc/loki/local-config.yaml
    volumes:
      - ./loki/local-config.yaml:/etc/loki/local-config.yaml
      - loki_data:/loki
    user: "0" 
    networks:
      - monitoring

  # -------------------- Promtail --------------------
  promtail:
    image: grafana/promtail:2.9.0
    container_name: promtail
    volumes:
      - /var/log:/var/log             # Reads host logs
      - ./promtail:/etc/promtail      # Promtail configuration folder
    command: -config.file=/etc/promtail/promtail.yaml
    networks:
      - monitoring

# -------------------- Networks --------------------
networks:
  monitoring:
    driver: bridge

# -------------------- Volumes --------------------
volumes:
  grafana-storage:
  loki_data: